In [2]:
import pandas as pd
demandData = pd.read_csv('demandData.csv', sep=';')
demandData

       codnode  Pallets  Year  Month  Day        Date
0          167    19.00  2024      3   11  11/03/2024
1           91     5.00  2024      3   11  11/03/2024
2          228     8.00  2024      3   11  11/03/2024
3          164     7.00  2024      3   11  11/03/2024
4          184    20.00  2024      3   11  11/03/2024
...        ...      ...   ...    ...  ...         ...
37768      146   758.46  2022      6   30  30/06/2022
37769       23   196.81  2022      6   30  30/06/2022
37770      142   191.05  2022      6   30  30/06/2022
37771       70    98.52  2022      6   30  30/06/2022
37772      180   157.63  2022      6   30  30/06/2022

[37773 rows x 6 columns]

In [23]:
# Calcular la fecha mínima y máxima para cada codnode
print(demandData.dtypes)
demandData['Date'] = pd.to_datetime(demandData['Date'], format='%d/%m/%Y')

min_dates = demandData.groupby('codnode')['Date'].min()
max_dates = demandData.groupby('codnode')['Date'].max()

# Crear un DataFrame con los resultados
date_summary = pd.DataFrame({'min_date': min_dates, 'max_date': max_dates})
date_summary

print('Day from which we ensure we have records of all nodes')
print(date_summary['min_date'].max())

codnode             int64
Pallets           float64
Year                int64
Month               int64
Day                 int64
Date       datetime64[ns]
dtype: object
2022-07-14 00:00:00

min_date   2022-07-05
max_date   2024-03-11
Name: 10, dtype: datetime64[ns]